<a href="<%= locals.href ? href : "" %>" type="button" class="btn btn-primary btn-floating" style="
            position: absolute;
            top: <%= locals.top ? top : "initial" %>;
            left: <%= locals.left ? left : "initial" %>;
            right: <%= locals.right ? right : "initial" %>;
            bottom: <%= locals.bottom ? bottom : "initial" %>;
            background-color: #db202c;
          ">
  <i class="<%= locals.icon ? icon : "" %>"></i>
</a>