<%- include("shared/header") %>
<%- include("shared/logo", { src: "/tvshows.png" }) %>

<form method="POST">
  <div class="row justify-content-center mb-4">
    <div class="col-lg-5 col-9">
      <div class="input-group rounded">
        <input input name="title" id="title" type="search" class="form-control rounded-pill p-4"
          placeholder="Search shows..." />
      </div>
    </div>
  </div>
</form>

<div class="row justify-content-center">
  <% shows.sort((a, b) => a.title.localeCompare(b.title)).forEach(show => { %>
  <div class="col-6 col-md-4 col-lg-3 p-3 d-flex align-items-stretch" style="max-width: 280px">
    <div class="card">
      <div class="bg-image hover-overlay ripple h-100 d-flex" data-mdb-ripple-color="light">
        <img src="<%= show.poster %>" onerror="this.src = `https://via.placeholder.com/480x800?text=<%= show.title %>`;"
          class="img-fluid h-100" style="object-fit: cover" />
        <a href="/show/<%= show._id %>">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body d-flex justify-content-center gap-1 align-items-center">
        <div>
          <a href="/show/<%= show._id %>" class="text-reset">
            <h6 class="card-text"><%= show.title %></h6>
          </a>
        </div>
        <a href="/show/<%= show._id %>/star" class="ripple">
          <i style="color: #db202c" class="<%= show.favorite ? "fas" : "far" %> fa-star"></i>
        </a>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<div class="fixed-action-btn">
  <a href="/addshow" class="btn btn-floating btn-primary btn-lg" style="background-color: #db202c">
    <i class="fas fa-plus"></i>
  </a>
  <ul class="list-unstyled"></ul>
</div>

<%- include("shared/footer") %>