<%- include("shared/header") %>
<%- include("shared/logo", { src: "/showinfo.png" }) %>
<%- include("shared/floatingbutton", { href: "/",  icon: "fas fa-arrow-left", top: "40px", left: "20px" }) %>
<%- include("shared/floatingbutton", { href: `/show/${show._id}/edit`,  icon: "fas fa-pencil-alt", top: "40px", right: "20px" }) %>

<div class="row">
  <div class="col-12">
    <div class="card d-flex flex-row flex-wrap">
      <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
        <img src="<%= show.poster %>" onerror="this.src = `https://via.placeholder.com/480x800?text=<%= show.title %>`;"
          class="h-100" style="object-fit: cover; border-radius: 4px 0px 0px 4px;" />
      </div>

      <div class="card-body col-9 d-flex flex-column gap-3 align-items-center justify-content-around">
        <div class="d-flex flex-column gap-2 align-items-center mt-2">
          <div class="d-flex flex-row gap-2 align-items-center">
            <div>
              <h2 class="card-text display-5"><%= show.title %></h2>
            </div>

            <a href="/show/<%= show._id %>/star" class="ripple">
              <i style="color: #db202c" class="<%= show.favorite ? "fas" : "far" %> fa-star"></i>
            </a>
          </div>
          <h3 class="card-text display-6">(<%= show.year %>)</h3>
        </div>

        <div class="d-flex flex-column justify-content-center mx-4">
          <p>
            <%= show.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% show.episodes.sort((a, b) => a.number - b.number).sort((a, b) => a.season - b.season).forEach(episode => { %>
<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <a href="/show/<%= show._id %>/episode/<%= episode._id %>" class="text-reset">
            <span class="card-text" style="font-size: 1.5rem">
              S<%= episode.season.toString().length > 1 ? episode.season : `0${episode.season}` %>E<%= episode.number.toString().length > 1 ? episode.number : `0${episode.number}` %>
            </span>
            <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
              <%= episode.title %>
            </span>
          </a>
        </div>

        <div class="d-flex gap-3">
          <a href="/show/<%= show._id %>/episode/<%= episode._id %>/star" class="ripple">
            <i style="color: #db202c" class="<%= episode.favorite ? "fas" : "far" %> fa-star"></i>
          </a>
          <a href="/show/<%= show._id %>/episode/<%= episode._id %>/edit" class="ripple">
            <i class="fas fa-pencil-alt text-dark"></i>
          </a>
          <a href="/show/<%= show._id %>/episode/<%= episode._id %>/delete" class="ripple">
            <i class="far fa-trash-alt text-dark"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>

<div class="d-flex justify-content-center">
  <a class="btn btn-lg btn-primary rounded-pill mt-5" href="/show/<%= show._id %>/addepisode" role="button"><i
      class="fas fa-plus me-2"></i>Add episode</a>
</div>

<%- include("shared/footer") %>