<%- include("shared/header") %>
<%- include("shared/logo", { src: "/showinfo.png" }) %>
<%- include("shared/floatingbutton", { href: "/",  icon: "fas fa-arrow-left", top: "40px", left: "20px" }) %>
<%- include("shared/floatingbutton", { href: "/show/1/edit",  icon: "fas fa-pencil-alt", top: "40px", right: "20px" }) %>

<div class="row">
  <div class="col-12">
    <div class="card d-flex flex-row flex-wrap">
      <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/cU0kAjGjA6d2XjBzJMUIEVKiGDb.jpg"
          class="bg-image h-100" style="object-fit: cover" />
      </div>

      <div class="card-body col-9 d-flex flex-column gap-3 align-items-center justify-content-around">
        <div class="d-flex flex-column gap-2 align-items-center mt-2">
          <div class="d-flex flex-row gap-2 align-items-center">
            <div>
              <h2 class="card-text display-5">Better Call Saul</h2>
            </div>

            <a class="ripple" href="#!">
              <i class="fas fa-star"></i>
            </a>
          </div>
          <h3 class="card-text display-6">(2015)</h3>
        </div>

        <div class="d-flex flex-column justify-content-center mx-4">
          <p>
            Six years before Saul Goodman meets Walter White. We meet
            him when the man who will become Saul Goodman is known as
            Jimmy McGill, a small-time lawyer searching for his
            destiny, and, more immediately, hustling to make ends
            meet. Working alongside, and, often, against Jimmy, is
            “fixer” Mike Ehrmantraut. The series tracks Jimmy’s
            transformation into Saul Goodman, the man who puts
            “criminal” in “criminal lawyer".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <a href="/show/1/episode/1">
            <span class="card-text" style="font-size: 1.5rem">
              S01E01
            </span>
            <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
              Uno
            </span>
          </a>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a href="/show/1/episode/1/edit" class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E02
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Mijo
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E03
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Nacho
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E04
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Hero
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E05
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Alpine Shepherd Boy
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E06
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Five-O
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E07
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            Bingo
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card d-flex flex-row">
      <div class="card-body col-9 d-flex flex-row gap-3 align-items-center justify-content-between">
        <div>
          <span class="card-text" style="font-size: 1.5rem">
            S01E08
          </span>
          <span class="card-text display-6" style="font-size: 1.5rem; word-wrap: break-word">
            RICO
          </span>
        </div>

        <div class="d-flex gap-3">
          <a class="ripple" href="#!">
            <i class="fas fa-star"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="ripple" href="#!">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a class="btn btn-lg btn-primary rounded-pill mt-5" href="/show/1/addepisode" role="button"><i
      class="fas fa-plus me-2"></i>Add episode</a>
</div>

<%- include("shared/footer") %>